@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0;
  line-height: 1.4;
}


img {
  max-width: 100%;
  height: auto;
}


h1, h2, h3 {
  font-family: 'Anton', sans-serif;
}




.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}


#logo {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
}

header nav a {
  display: inline-block;
  background-color: #f54f96;
  text-decoration: none;
  color: #ffffff;
  padding: 0.75em 1.25em;
  border: 1px solid #f54f96;
  margin-left: 1em;
}


header nav a:hover,
header nav a:focus {
  background-color: #ffffff;
  color: #f54f96;
  border: 1px solid #f54f96;
}

#hero {
  height: 60vh;
  background-color: #f54f96;
  background-image: url(../images/hero-donuts.jpg);
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
}

section {
  padding: 4em 0;
}


.product-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.product-card {
  background-color: #e86c6c;
  border-radius: 14px;
  padding: 1em;
  text-align: center;
  color: #ffffff;
  display: flex;flex-direction: column;
  align-items: center;
  padding: 2em 1.25em;

}


.product-card p {
  margin: .5em 0;
}

.product-card p.price {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1em;
}

.product-card button {
  display: inline-block;
  background-color: #ffffff;
  color: #f54f96;
  border: none;
  padding: 0.5em 1.5em;
  font-size: 1.25em;
  cursor: pointer;
  border-radius: 20px;
  margin-top: auto;
}

.product-card button:hover,
.product-card button:focus {
  background-color: #f54f96;
  color: #ffffff;
  border: 1px solid #ffffff;
}

footer {
  background-color: #f54f96;
  color: #ffffff;
  text-align: center;
  padding: 2em 0;
}

@media (min-width: 30em) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }

}
  
@media (min-width: 60em) {
  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

